@font-face {
  font-family: 'CookieRun';
  src: url('@/assets/fonts/CookieRunRegular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'CookieRun';
  src: url('@/assets/fonts/CookieRunBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'CookieRun';
  src: url('@/assets/fonts/CookieRunBlack.ttf') format('truetype');
  font-weight: 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  font-family: CookieRun, sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.15);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
